<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig"
             type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
  </configSections>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error"/>
  <appSettings>
    <add key="NServiceBus/Extensions/LongRunningMessages/WarningThresholdInSeconds" value="1"/>
  </appSettings>
  <Logging Threshold="Debug" />
</configuration>
